@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #151719;
}
.main-color{
    background-color: #151719;
    color:#D9E3EA;
    font-family: 'Segoe UI';
font-style: normal;
font-weight: 400;
}

input,textarea{
    background-color: #151719 !important;
    border-color: #D9E3EA80 !important;
    ; 
}