@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #151719;
}
.main-color{
    background-color: #151719;
    color:#D9E3EA;
    font-family: 'Segoe UI';
font-style: normal;
font-weight: 400;
}